* { 
	margin: 0;
	padding: 0;
	/* Removes padding behaviour on widths */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} *


.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.row:before, 
.row:after {
    content:"";
    display: table ;
    clear:both;
    margin-left: -15px;
  	margin-right: -15px;
}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
	
}

.grid-12  {width: 100%;}
.grid-11 {width: 91.67%;}
.grid-10 {width: 83.34%;}
.grid-9 {width: 75%;}
.grid-8 {width: 66.67%;}
.grid-7 {width: 58.3%;}
.grid-6  {width: 50%;}
.grid-5  {width: 41.6%;}
.grid-4  {width: 33.33%;}
.grid-3  {width: 25%;}
.grid-2 {width:16.66%;}
.grid-1 {width: 8.33%}


@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 768px) {
  .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
  	width: 100%;
  }
}